# Common
dist
node_modules
.eslintcache
vite.config.*.timestamp*

# MacOS
.DS_Store

# Local env files
*.local

# Logs
*.log

# Use the pnpm
package-lock.json
# yarn.lock

# 評估報告（不入版控）
Milkonomy-維護評估報告.docx
